:root{
    --font-family: 'Bungee Shade', sans-serif;
    --vermillion: #D62900;
    --sandy-brown: #FF9B55;
    --white: #FFFFFF;
    --super-pink: #D461A6;
    --jazzberry-jam: #A50062;
}

/*.navbar {*/
/*    color: #D461A6;*/
/*    top: 0;*/
/*    padding-bottom: 0;*/
/*    border-top: 0;*/
/*    border-left: 0;*/
/*    border-right: 0;*/
/*    border-bottom: 8px;*/
/*    border-bottom-color: #A50062;*/
/*}*/

body {
    color: #FF9B55;
    font-family: 'Bungee Shade', cursive;
}
